<div class="row show-grid">
  <div class="col-md-3">
    <div>
      <nb-card status="danger">
        <nb-card-header>Coupons Missing Now</nb-card-header>
        <nb-card-body>{{expiration0}}</nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="col-md-3">
    <div>
      <nb-card status="danger">
        <nb-card-header>Coupons Missing Tomorrow</nb-card-header>
        <nb-card-body>{{expiration1}}</nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="col-md-3">
    <div>
      <nb-card status="danger">
        <nb-card-header>Coupons Missing 5 days</nb-card-header>
        <nb-card-body>{{expiration5}}</nb-card-body>
      </nb-card>
    </div>
  </div>
</div>